/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}